body.glbody {
    margin: 0px;
}

body {
    font-size: 12pt;
    font-family: Calibri,"Times New Roman",Serif;
}

font.typecol {
    color: #004090;
}
font.keycol {
    color: #103020;
}
font.readcol {
    color: #602000;
    font-style:italic;
}

div.doc {
    position:relative;
    padding-left:15px;
    padding-right:15px;
}

div.docsee {
    position:relative;
    padding-left:15px;
}

div.code {
    position:relative;
    margin-left:15px;
    width:90%;
}
span.code {
}

code.codes {
    font-size:10pt;
    font-family:Consolas,"Lucida Console",Serif;
}

div.gdoc {
    width:100%;
    border:0px;
    overflow-y:auto;
}

/*-----------------------------------------------------*/

div.indent {
    position:relative;
    margin-left:15px;
}

span.bold {
    font-weight: bold;
}

span.small1 {
    font-size: 10pt;
}
span.header1 {
    font-size: 22pt;
    font-weight: bold;
}
span.header2 {
    font-size: 18pt;
    font-weight: bold;
}
span.header3 {
    font-size: 13pt;
    font-weight: bold;
}
span.header4 {
    font-size: 11pt;
    font-weight: bold;
}
span.header5 {
    font-size: 10pt;
    font-weight: bold;
}
span.italic {
    font-style: italic;
}

/*-----------------------------------------------------*/

img.link {
    border: 0px;
}

div.inherit {
    width:100%;
}
td.inherit {
    padding:0px;
    border: 0px #000000 solid;
}
font.inherit {
    font-size:11pt;
    font-weight:normal;
}

/*-----------------------------------------------------*/

div.objtitle {
    background-color: #e0e0e0;
    padding: 5px;
}
font.objtitlefont {
    font-size: 16pt;
    font-weight: bold;
}

/*-----------------------------------------------------*/

div.swfcontent {
    margin-left:20px;
    border: 1px #000000 solid;
}
div.swfcontentcentre {
    margin-left:auto;
    margin-right:auto;
    border: 1px #000000 solid;
}

div.imgcontent {
    position:relative;
    padding-left:20px;
}
img.imginline {
    vertical-align:middle;
}

/*-----------------------------------------------------*/

div.headtitle {
    background-color: #d0d0d0;
    width: 100%;
    border:0px;
    height: 28px;
    overflow: auto;
}
div.headtitlel {
    float: left;
    padding-left: 5px;
}
div.headtitler {
    float: right;
    padding-right: 10px;
}

font.headtitlefont {
    font-size: 16pt;
    font-weight: bold;
}
font.headtitlesub {
    font-size: 11pt;
    font-weight: normal;
}
font.headerlink {
    font-size: 12pt;
    font-weight: normal;
}

/*-----------------------------------------------------*/

div.donation {
	background-color: #d0d0d0;
	width: 100%
	border:0px;
	height: 30;
}

font.dontext {
    font-size: 10pt;
    font-style: italic;
}

/*-----------------------------------------------------*/

div.listtitle {
    background-color: #d0d0d0;
    width: 100%;
    border:0px;
    height: 20px;
}
div.listtitlel {
    float: left;
    padding-left: 5px;
}
div.listtitlec {
   	margin-left:auto;
	margin-right:auto;
    padding: 5px;
}
div.listtitler {
    float: right;
    padding-right: 10px;
}

font.listtitlefont {
    font-size: 16pt;
    font-weight: bold;
}
font.listtitlesub {
    font-size: 11pt;
    font-weight: normal;
}
font.listlink {
    font-size: 8pt;
    font-weight: normal;
}


/*-----------------------------------------------------*/

table.title {
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
    margin: 0px;
}

table.compact {
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
    margin: 0px;
}

table.full {
    width: 100%;
}
td.auto {
    width: auto;
}    
td.full {
    width: 100%;
}
td.lrpad {
    padding-left: 8px;
    padding-right: 8px;
}
td.lpad {
    padding-left: 8px;
}
td.rpad {
    padding-right: 8px;
}

/*-----------------------------------------------------*/

    td.n_inh {
        width: 0px;
        text-align: center;
        vertical-align:top;
        border-left: 1px #999999 solid;
    }
    td.n_def {
        font-size: 11pt;
        vertical-align:top;
        width: 100%;
        border-right: 1px #999999 solid;
    }
    td.n_doc {
        vertical-align:top;
        font-size: 11pt;
    }

    td.n_titlel {
        background-color: #627c9d;
        width: 20px;
        border-left: 1px #999999 solid;
        border-top: 1px #999999 solid;
        border-bottom: 1px #999999 solid;
    }
    td.n_titlec {
        background-color: #627c9d;
        color: #ffffff;
        font-weight:bold;
        border-top: 1px #999999 solid;
        border-bottom: 1px #999999 solid;
    }
    td.n_titler {
        background-color: #627c9d;
        width: 150px;
        color: #ffffff;
        font-weight:bold;
        border-right: 1px #999999 solid;
        border-top: 1px #999999 solid;
        border-bottom: 1px #999999 solid;
    }
/*-----------------------------------------------------*/

span.nbsp {
    font-size: 6pt;
}

table.doc {
    border: 0px #999999 solid;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
    
    td.doc_border {
        border-bottom: 1px #999999 solid;
    }
    td.doc_pair_1 {
        background-color: #efefef;
    }
    td.doc_pair_2 {
        background-color: #ffffff;
    }

    td.inh {
        width: 20px;
        text-align: center;
        border-left: 1px #999999 solid;
    }
    td.def {
        font-size: 11pt;
        width: 150px;
        border-right: 1px #999999 solid;
    }
    td.doc {
        font-size: 11pt;
    }

    td.titlel {
        background-color: #627c9d;
        width: 20px;
        border-left: 1px #999999 solid;
        border-top: 1px #999999 solid;
        border-bottom: 1px #999999 solid;
    }
    td.titlec {
        background-color: #627c9d;
        color: #ffffff;
        font-weight:bold;
        border-top: 1px #999999 solid;
        border-bottom: 1px #999999 solid;
    }
    td.titler {
        background-color: #627c9d;
        width: 150px;
        color: #ffffff;
        font-weight:bold;
        border-right: 1px #999999 solid;
        border-top: 1px #999999 solid;
        border-bottom: 1px #999999 solid;
    }

    font.table_title {
        font-weight:bold;
        font-size: 16pt;
    }

/*-----------------------------------------------------*/

font.detailtitle {
    font-weight:bold;
    font-size:16pt;
}
font.detailsub {
    font-weight:normal;
    font-size:11pt;
}
font.detailname {
    font-weight:normal;
    font-size:11pt;
}
font.detailsubtitle {
    font-weight:bold;
    font-size:12pt;
}

/*-----------------------------------------------------*/
